$icon-font-path: "../fonts/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.gallery-thumbnail {
  padding: 5px
}

.thumbnail-image {
  max-width: 480px;
  max-height: 360px;
}

.image-view {
  display: table;
  height: 100%;

  div {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }

  .slider {
    width: 2%;
    display: table-cell;
    vertical-align: middle;
    padding: 5px;

    a {
      display: inline-block;
      background: aliceblue;
      height: 100%;
      vertical-align: middle;
    }
  }

  .image {
    width: 98%
  }
}

.img-thumbnail {
  padding: 0px;
  max-width: 100%;
  margin: auto;
  border: 5px solid #777;
}

.thumbnail {
  padding: 25px;
  border: none;
  display: block;
  margin: auto;
  min-height: 300px;
}

.gallery-cover {
  min-height: 300px;
}

.active-thumbnail {
  border-color: black;
}
